<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="left-panel">
    <wm-nav name="leftnavigation" type="pills" layout="stacked">
        <wm-nav-item name="list_Dashboard">
            <wm-anchor caption="Dashboard" name="dashboardButton" iconclass="wi wi-dashboard" on-click="Variables.goToPage_Main.invoke()"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_Employees">
            <wm-anchor on-click="Variables.goToPage_EmployeesView.invoke()" hyperlink="GridPage" caption="Employees" name="gridButton" iconclass="wi wi-group"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_Departments">
            <wm-anchor caption="Departments" name="widgetsButton" iconclass="wi wi-account-circle" on-click="Variables.goToPage_Departments.invoke()"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_Statistics">
            <wm-anchor caption="Statistics" iconclass="wi wi-bar-graph" name="listsButton" hyperlink="index.html#/EmployeeListPage" on-click="Variables.goToPage_Statistics.invoke()"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="listRegions">
            <wm-anchor name="anchor8" iconclass="wi wi-map" caption="Regions" accessroles="admin" on-click="Variables.goToPage_Regions.invoke()"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item7">
            <wm-anchor name="anchor7" iconclass="wi wi-verified-user" caption="Admin" accessroles="admin" on-click="Variables.goToPage_AdminDashboard.invoke()"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
</wm-partial>