<wm-page data-ng-controller="MainPageController" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1" padding="unset .5em">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                        <wm-label name="mainHeading" caption="Dashboard" class="h2" fontsize="2" fontunit="em" margin=".3em unset 0em unset"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn2" horizontalalign="right" padding="1em unset"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2" paddingunit="em">
                    <wm-gridcolumn columnwidth="3" name="gridcolumn4" padding="1em .5em">
                        <wm-tile name="summaryOne" backgroundcolor="#F86C6B" color="#FFFFFF" padding="3em 2em">
                            <wm-layoutgrid name="layoutgrid2">
                                <wm-gridrow name="gridrow4">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn11" horizontalalign="center" class="col-xs-4">
                                        <wm-icon iconsize="3.5em" name="icon1" iconclass="glyphicon glyphicon-globe"></wm-icon>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn12" class="col-xs-8" padding="unset unset unset .5em">
                                        <wm-label name="label3" width="100%" caption="REGIONS" class="text-uppercase" fontsize="14"></wm-label>
                                        <wm-label width="100%" name="label4" caption="bind:Variables.HR_RegionCount.dataSet.value" class="h3" required="false" color="#ffffff" margin="0px unset"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tile>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn5" padding="1em .5em">
                        <wm-tile name="summaryTwo" color="#FFFFFF" backgroundcolor="#63C2DE" padding="3em 2em">
                            <wm-layoutgrid name="layoutgrid3">
                                <wm-gridrow name="gridrow7">
                                    <wm-gridcolumn columnwidth="4" horizontalalign="center" name="gridcolumn20" class="col-xs-4">
                                        <wm-icon iconsize="3.5em" name="icon2" iconclass="fa fa-group"></wm-icon>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn21" class="col-xs-8" padding="unset unset unset .5em">
                                        <wm-label width="100%" caption="DEPARTMENTS" class="text-uppercase" name="label5" fontsize="14"></wm-label>
                                        <wm-label width="100%" caption="bind:Variables.HR_DepartmentCount.dataSet.value" class="h3" name="label6" color="#ffffff" margin="0px unset"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tile>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn6" padding="1em .5em">
                        <wm-tile name="summaryThree" color="#FFFFFF" backgroundcolor="#F8CB00" padding="3em 2em">
                            <wm-layoutgrid name="layoutgrid4">
                                <wm-gridrow name="gridrow8">
                                    <wm-gridcolumn columnwidth="4" horizontalalign="center" name="gridcolumn22" class="col-xs-4">
                                        <wm-icon iconsize="3.5em" name="icon3" iconclass="glyphicon glyphicon-user"></wm-icon>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn23" class="col-xs-8" padding="unset unset unset .5em">
                                        <wm-label width="100%" caption="EMPLOYEES" class="text-uppercase" name="label7" fontsize="14"></wm-label>
                                        <wm-label width="100%" caption="bind:Variables.HR_EmployeeCount.dataSet.value" class="h3" name="label8" color="#ffffff" margin="0px unset"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tile>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn10" padding="1em .5em">
                        <wm-tile name="summaryFour" color="#FFFFFF" backgroundcolor="#4DBD74" padding="3em 2em">
                            <wm-layoutgrid name="layoutgrid5">
                                <wm-gridrow name="gridrow9">
                                    <wm-gridcolumn columnwidth="4" horizontalalign="center" name="gridcolumn24" class="col-xs-4">
                                        <wm-icon iconsize="3.5em" name="icon4" iconclass="glyphicon glyphicon-ok"></wm-icon>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn25" class="col-xs-8" padding="unset unset unset .5em">
                                        <wm-label width="100%" caption="In Region" class="text-uppercase" name="label9"></wm-label>
                                        <wm-label width="100%" caption="bind:Variables.HR_CountInRegion.dataSet[$i].count___" class="h3" name="label10" fontsize="14" color="#ffffff" margin="0px unset"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tile>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3" paddingunit="em">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn7" padding="1em .5em">
                        <wm-panel collapsible="true" showheader="true" name="panel2" title="Employee Breakdown" height="24em" badgetype="default" enablefullscreen="true">
                            <wm-chart showcontrols="false" ynumberformat="Exponential" xnumberformat="Decimal Digits" dataset="bind:Variables.HREmployeeList.dataSet" type="Pie" name="chart1" offsetright="0" tooltips="true" showlegend="true" xaxislabel="Departments"
                            yaxislabel="Revenue" yaxislabeldistance="12" theme="Retro" legendposition="Top" legendtype="classic" width="100%" offsetleft="30" title="" groupby="departmentByDepartment.name" aggregation="count" aggregationcolumn="eid" xaxisdatakey="departmentByDepartment.name"
                            yaxisdatakey="eid"></wm-chart>
                        </wm-panel>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn8" padding="1em .5em">
                        <wm-tabs name="tabs1">
                            <wm-tabpane name="tabpane2" heading="Employees" padding="0px" title="Overview">
                                <wm-chart type="Pie" title="" height="250px" iconclass="" name="chart2" theme="Retro" dataset="bind:Variables.HREmployeeList.dataSet" xaxisdatakey="employeeStatus.name" yaxisdatakey="eid" aggregation="count" aggregationcolumn="eid"
                                groupby="employeeStatus.name"></wm-chart>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane2_1" title="Active">
                                <wm-layoutgrid name="layoutgrid7">
                                    <wm-gridrow name="gridrow9_1">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn19">
                                            <wm-label padding="unset 0.5em" name="label12" caption="bind:&quot;Current: &quot; + Variables.HR_CountInRegion.dataSet[$i].count___"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn20_1">
                                            <wm-label padding="unset 0.5em" name="label13" caption="Goal: 40"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow10">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn21_1">
                                            <wm-progress datavalue="bind:Variables.HR_CountInRegion.dataSet[$i].count___" name="progress1" maxvalue="40" type="default" dataset="bind:Variables.HR_CountInRegion.dataSet" displayformat="9%"></wm-progress>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow11">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn23_1">
                                            <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list" datafield="All Fields" dataset="bind:Variables.HREmployeeList.dataSet" navigation="Pager"
                                            name="livelist2">
                                                <wm-listtemplate layout="inline" name="listtemplate2">
                                                    <wm-container class="media-left" name="container1">
                                                        <wm-picture width="32pt" height="32pt" name="Picture" shape="circle" picturesource="bind:Variables.HREmployeeList.dataSet.picurl" class="media-object"></wm-picture>
                                                    </wm-container>
                                                    <wm-container class="media-body" name="container2">
                                                        <wm-label class="p media-heading" name="Name" caption="bind:Variables.HREmployeeList.dataSet.firstname" fontunit="em" padding="unset unset unset 1.25em"></wm-label>
                                                    </wm-container>
                                                </wm-listtemplate>
                                            </wm-livelist>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane3" title="Training"></wm-tabpane>
                            <wm-tabpane name="tabpane4" title="Pipeline"></wm-tabpane>
                        </wm-tabs>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>