<wm-page name="page1" data-ng-controller="EmployeesViewPageController">
    <wm-header name="header1" content="header"></wm-header>
    <wm-top-nav name="top_nav1" content="topnav"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel name="left_panel1" columnwidth="2" content="leftnav"></wm-left-panel>
        <wm-page-content name="page_content1" columnwidth="10">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn name="gridcolumn1" columnwidth="6" class="col-xs-6">
                        <wm-label name="label1" caption="Employees" class="h2"></wm-label>
                        <wm-layoutgrid name="layoutgrid4_1" columns="1" show="false">
                            <wm-gridrow name="gridrow29">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn62">
                                    <wm-composite name="composite1" horizontalalign="left">
                                        <wm-label class="col-md-3 control-label" name="label8" caption="Select Region"></wm-label>
                                        <wm-container class="col-md-9" name="container1">
                                            <wm-select name="select1" dataset="bind:Variables.region_live.dataSet" datafield="regionid" displayfield="name"></wm-select>
                                        </wm-container>
                                    </wm-composite>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-gridcolumn>
                    <wm-gridcolumn name="gridcolumn2" columnwidth="6" horizontalalign="right" class="col-xs-6">
                        <wm-label name="label18" caption="View as:" padding="unset 1em unset unset"></wm-label>
                        <wm-switch name="switch1" on-change="switch1Change($event, $scope)" dataset="List,Grid" datavalue="List" margin=".5em unset unset unset" width="120"></wm-switch>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2"></wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn name="gridcolumn7" columnwidth="12">
                        <wm-livegrid formlayout="dialog" name="EmployeeList">
                            <wm-grid gridfirstrowselect="true" editmode="dialog" title="Employees List" dataset="bind:Variables.HR_EmployeesByRegion.dataSet" navigation="Basic" name="grid1">
                                <wm-grid-column binding="picurl" caption="Picurl" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="firstname" caption="Firstname" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="jobtitle" caption="Jobtitle" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="lastname" caption="Lastname" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="street" caption="Street" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="city" caption="City" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="state" caption="State" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="zip" caption="Zip" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="hiredate" caption="Hiredate" type="date" generator="assigned" edit-widget-type="date" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="termdate" caption="Termdate" type="date" generator="assigned" edit-widget-type="date" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="employeeStatus.name" caption="Status Name" type="string" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="EmployeeStatus"></wm-grid-column>
                                <wm-grid-column binding="departmentByDepartment.name" caption="Department Name" type="string" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Department"></wm-grid-column>
                                <wm-grid-column binding="regions.name" caption="Regions Name" type="string" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Regions"></wm-grid-column>
                                <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                                <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-grid-action>
                                <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                                <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                            </wm-grid>
                            <wm-liveform novalidate="false" errormessage="" title="Employees Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.HREmployeeList.dataSet" captionalign="left" captionposition="top" name="liveform2">
                                <wm-layoutgrid columns="3" name="layoutgrid5_1">
                                    <wm-gridrow name="gridrow13">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn24">
                                            <wm-form-field name="birthdate" displayname="Birthdate" show="true" primary-key="false" generator="assigned" key="birthdate" type="date" readonly="false" required="false" widget="date" placeholder="Select date"
                                            outputformat="yyyy-MM-dd"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn25">
                                            <wm-form-field name="city" displayname="City" show="true" primary-key="false" generator="assigned" key="city" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn26">
                                            <wm-form-field name="firstname" displayname="Firstname" show="true" primary-key="false" generator="assigned" key="firstname" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text"
                                            placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow14">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn27">
                                            <wm-form-field name="jobtitle" displayname="Jobtitle" show="true" primary-key="false" generator="assigned" key="jobtitle" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text"
                                            placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn28">
                                            <wm-form-field name="lastname" displayname="Lastname" show="true" primary-key="false" generator="assigned" key="lastname" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text"
                                            placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn29">
                                            <wm-form-field name="manager" displayname="Manager" show="true" primary-key="false" generator="assigned" key="manager" type="integer" readonly="false" required="true" step="0" widget="number" inputtype="number"
                                            placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow15">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn30">
                                            <wm-form-field name="picurl" displayname="Picurl" show="true" primary-key="false" generator="assigned" key="picurl" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn31">
                                            <wm-form-field name="state" displayname="State" show="true" primary-key="false" generator="assigned" key="state" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn32">
                                            <wm-form-field name="street" displayname="Street" show="true" primary-key="false" generator="assigned" key="street" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow16">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn33">
                                            <wm-form-field name="zip" displayname="Zip" show="true" primary-key="false" generator="assigned" key="zip" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn34">
                                            <wm-form-field name="hiredate" displayname="Hiredate" show="true" primary-key="false" generator="assigned" key="hiredate" type="date" readonly="false" required="false" widget="date" placeholder="Select date" outputformat="yyyy-MM-dd"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn35_1">
                                            <wm-form-field name="termdate" displayname="Termdate" show="true" primary-key="false" generator="assigned" key="termdate" type="date" readonly="false" required="false" widget="date" placeholder="Select date" outputformat="yyyy-MM-dd"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow17">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn36_1">
                                            <wm-form-field name="employeeStatus" displayname="Employee Status" show="true" primary-key="false" generator="assigned" key="employeeStatus" type="list" is-related="true" readonly="false" required="false" widget="select"
                                            placeholder="Select value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn37">
                                            <wm-form-field name="departmentByDepartment" displayname="Department By Department" show="true" primary-key="false" generator="assigned" key="departmentByDepartment" type="list" is-related="true" readonly="false"
                                            required="false" widget="select" placeholder="Select value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn38">
                                            <wm-form-field name="regions" displayname="Regions" show="true" primary-key="false" generator="assigned" key="regions" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value"
                                            displayexpression="name"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-field name="eid" displayname="Eid" show="false" primary-key="true" generator="identity" key="eid" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                                <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn name="gridcolumn5" columnwidth="12">
                        <wm-livelist listclass="list-group" template="true" itemsperrow="xs-1 sm-2 md-3 lg-4" class="list-card" dataset="bind:Variables.HREmployeesData.dataSet" navigation="Basic" name="EmployeeGrid" show="false">
                            <wm-listtemplate layout="media" name="listtemplate1">
                                <wm-card name="card1">
                                    <wm-card-content fontsize="0.8" fontunit="em" name="card_content1">
                                        <wm-layoutgrid columns="2" name="layoutgrid5">
                                            <wm-gridrow name="gridrow25">
                                                <wm-gridcolumn colwidth="6" columnwidth="6" class="col-xs-6" name="gridcolumn35">
                                                    <wm-picture name="Picture" width="100%" picturesource="bind:Variables.HREmployeesData.dataSet.data[$i].picurl"></wm-picture>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn colwidth="6" columnwidth="6" padding="unset 1.25em" class="col-xs-6" name="gridcolumn36">
                                                    <wm-label name="ID" caption="bind:Variables.HREmployeesData.dataSet.eid" fontunit="em" class="text-muted p" margin="unset unset 0px unset" whitespace="nowrap"></wm-label>
                                                    <wm-label name="Name" caption="bind:Variables.HREmployeesData.dataSet.data[$i].firstname + Variables.HREmployeesData.dataSet.data[$i].lastname" fontunit="em" color="#000" class="h4" margin="0px unset"
                                                    whitespace="nowrap"></wm-label>
                                                    <wm-label name="JobTitle" caption="bind:Variables.HREmployeesData.dataSet.data[$i].jobtitle" class="h5" margin="0px unset unset unset" whitespace="nowrap"></wm-label>
                                                    <wm-label name="Department" caption="bind:Variables.HREmployeesData.dataSet.data[$i].departmentByDepartment.name" class="p text-muted" margin="unset unset 0px unset" whitespace="nowrap"></wm-label>
                                                    <wm-label name="Location" caption="bind:Variables.HREmployeesData.dataSet.data[$i].regions.name" class="text-muted p" whitespace="nowrap"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-card-content>
                                </wm-card>
                            </wm-listtemplate>
                        </wm-livelist>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn name="gridcolumn9" columnwidth="12"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer name="footer1" content="footer"></wm-footer>
    <wm-view class="dialog-view" name="view1" show="false">
        <wm-pagedialog name="pagedialog1" content="EmployeeDetailDialog" title="PROFILE"></wm-pagedialog>
    </wm-view>
</wm-page>